<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <div class="login-box">

      <h4>You're just one step away from an <i>awesome</i> Hackathon</h4>
      <hr>
      <p>Click below and login with your @bigcommerce.com Google Account.</p>
      <br><br>

    <center><a class="btn btn-lg btn-google btn-social" href="/auth/google_oauth2">
      <i class="fa my-fa-google"></i>Authenticate with Google
    </a></center>

    <br><br>
    <center><img width="150px" style="opacity:.5" src="/assets/bclogo.svg"></center>

    </div>


  </div>
</div>
